{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "plugins": ["import", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {},
  "parserOptions": {
  }
}
